<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<nav>
    <a href="/about">About</a>

    <a href="/works">Works</a>
</nav>

    <h1>Bienvenidos a la pagina de la Leyenda</h1>

    <p>Este es una pagina en homenaje a Roger Federer el mago del tenis,es un extenista profesional suizo. Está considerado como el mejor tenista de toda la historia en pistas de hierba ​ y uno de los mejores de todos los tiempos.

        Ha sido ganador de 20 torneos de Grand Slam, cifra que lo ubica en tercer lugar del palmarés, sólo superado por el serbio Novak Djokovic, con 21, y por el español Rafael Nadal, con 22. Consiguió ganar el Abierto de Australia en seis ocasiones, el Torneo de Roland Garros en una ocasión, el Campeonato de Wimbledon en ocho ocasiones (siendo el tenista que más veces lo ha conseguido en toda la historia) y el Abierto de Estados Unidos en cinco ocasiones. Logró conquistar en seis ocasiones el ATP Finals, lo que le convierte en el jugador más exitoso de la historia del torneo. Se encuentra en tercera posición, tras el serbio Novak Djokovic (38) y el español Rafael Nadal (36) como jugador con más títulos de Masters 1000 en modalidad individual, con 28; y por delante de otros célebres tenistas como el checo Ivan Lendl (22) y los estadounidenses John McEnroe (19), Jimmy Connors (17) o Andre Agassi (17).</p>
    
        <img class="home-pic" src="./public/images/Federer-cesped.jpg" alt="Roger Federer">
</body>
</html>