<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulos</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body id="works">


    <p>Fue número 1 del mundo durante 310 semanas en total, cifra sólo superada por las 373 semanas del serbio Novak Djokovic. Posee el récord de mayor número de semanas consecutivas como número 1 del mundo, con 237. Además, ha finalizado el año como número 1 del mundo en cinco ocasiones, las mismas que el español Rafael Nadal y el estadounidense Jimmy Connors, y sólo por detrás de los seis años del estadounidense Pete Sampras y los siete del serbio Novak Djokovic. Ha sido el número 1 más longevo en toda la Era Abierta, llegando a dicha posición a los 36 años y 10 meses de edad.<br>

        Entre sus récords más importantes en Grand Slam destacan los siguientes: único tenista de la historia que posee cinco o más títulos en tres de los cuatro Grand Slam: en el Abierto de Australia (6), en el Campeonato de Wimbledon (8) y en el Abierto de Estados Unidos (5). Tenista que más finales (junto al serbio Novak Djokovic), semifinales y cuartos de final ha disputado, además de ser el jugador que más veces ha participado en dichos torneos (81), el que más partidos ha disputado (429) y el que más victorias ha conseguido (369). Es, junto al serbio Novak Djokovic, uno de los dos jugadores que ha logrado ganar tres Grand Slams el mismo año en tres años diferentes: 2004, 2006 y 2007.</p>


    <img class="work-pic" src="./images/roger-federer-trofeo.jpg" alt="">
</body>
</html>